:root { --text-color: #83991a; --light-gray: #E6E6E6; }
body { max-width: 45em; margin: auto; font-family: serif; padding: 1em;
       padding-left: 2em; padding-right: 2em;}
h1 { font-size: 1.618em; font-weight: bold; font-family: sans-serif;
     margin-right: 0; padding-left: 2em; margin-top: 0; border-top: 1em;
     color: var(--text-color); padding-top: 0.5em; border-bottom: 2em; }
h2 { font-size: 1em; margin-top: 2em; font-weight: bold;
     font-family: sans-serif; border-bottom: thin dotted var(--text-color);
     color: var(--text-color); }
h2:before { content: "☘ "; }
h3 { font-size: 1em;  font-weight: bold; font-family: sans-serif;
     margin-top: 2em; color: var(--text-color); }
p.indent:first-letter { padding-left: 1rem; }
a { color: var(--text-color); }
ul { list-style: none; padding-left: 1rem;}
li { padding: 0.1em; }
li:before { content: "☘ "; }
footer { padding-left: 1ch; padding-top: 0.33em; margin: 0.33em;
	 border-top: thin solid var(--light-gray); color: grey; font-size: 90%; }
a.footer { color: grey; margin-left: 0.5ch; }
fortran { font-family: monospace; }
.subroutine { font-weight: bold; color: black; }
nav { position: relative; display: inline-block; float: right; margin-top: 1rem;
      margin-right: 2em; }
.nav-content { display: none; position: absolute; background-color: #f9f9f9;
	       min-width: 15em; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
nav:hover .nav-content { display: block; }
div.headleaf { position: relative; display: inline-block; float: left;
	       font-size: 1.618em; font-weight: bold; margin-top: 1rem; }
ul.nav { padding-left: 0.5em; }
nav a { text-decoration: none; }
nav li:before { content: ""; }
dt { font-weight: bold; }
td.c { text-align: center; }
